@model MaqaletyCore.Category

@{
    ViewData["Title"] = "انشاء";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1 style="font-family:Cairo">اضافة صنف جديد </h1>

<h4 style="font-family:Cairo">معلومات الصنف</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="createForm" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">اسم الصنف </label>
                <input name="Name" id="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="انشاء" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Category/Index">الرجوع الى الاصناف</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

