@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "نسيان كلمه المرور ";
}

<h1 class="container" style="font-family:cairo ; direction:rtl">@ViewData["Title"]</h1>
<p class="container" style="font-family:Cairo; direction:rtl;">
    الرجاء التاكد من الايميل الخاص بك و النقر علي الرابط المرسل لاعاده كلمه السر
</p>
